{% extends 'base_layout.html' %}
{% block content %}
<section class="page-title bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">About Us</span>
          <h1 class="text-capitalize mb-4 text-lg">CodersConnect</h1>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="about.html" class="text-white-50">About Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section About Start -->
<section class="section about-2 position-relative">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="about-item pr-3 mb-5 mb-lg-0">
					<span class="h6 text-color">What we are</span>
					<h2 class="mt-3 mb-4 position-relative content-title">We are passionate coders bringing together fellow programmers and organizations</h2>
					<p class="mb-5">We provide oppurtunities to coders. Whether you are a college student looking for some real-world experience or an industry member looking to help the community, CodersConnect can help you find those volunteer projects you're looking for.</p>

					<a href="{% url 'posts:view_listings' %}" class="btn btn-main btn-round-full">View Listings</a>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="about-item-img">
					<img src="images/about/home-7.jpg" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Section About End -->

<section class="about-info section pt-0">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="about-info-item mb-4 mb-lg-0">
					<h3 class="mb-3"><span class="text-color mr-2 text-md ">01.</span>Our Mission</h3>
					<p>Help non-profit organizations get the coding help they need through passionate volunteer coders.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="about-info-item mb-4 mb-lg-0">
					<h3 class="mb-3"><span class="text-color mr-2 text-md">02.</span>Vission</h3>
					<p>To connect people all around the world with acts of kindness expressed through code.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="about-info-item mb-4 mb-lg-0">
					<h3 class="mb-3"><span class="text-color mr-2 text-md">03.</span>Our Approach</h3>
					<p>We carefully curate jobs suitable for volunteer coders. We are here to help and will make sure no organization is taking advantage of your work. At the same time, we will also make sure to provide organizations with trusted volunteers.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- section Counter Start -->
<section class="section counter bg-counter">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item text-center mb-5 mb-lg-0">
					<i class="ti-check color-one text-md"></i>
					<h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">1730</span> +</h3>
					<p class="text-white-50">Project Done</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item text-center mb-5 mb-lg-0">
					<i class="ti-flag color-one text-md"></i>
					<h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">2 </span>M </h3>
					<p class="text-white-50">Users</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item text-center mb-5 mb-lg-0">
					<i class="ti-layers color-one text-md"></i>
					<h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">38</span></h3>
					<p class="text-white-50">Availble States</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item text-center">
					<i class="ti-medall color-one  text-md"></i>
					<h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">153</span></h3>
					<p class="text-white-50">Partnered Organizations</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- section Counter End  -->


<!-- Section Testimonial Start -->
<section class="section testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 ">
				<div class="section-title">
					<span class="h6 text-color">Clients testimonial</span>
					<h2 class="mt-3 content-title">Check what other users say about us</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row testimonial-wrap">
			<div class="testimonial-item position-relative">
				<i class="ti-quote-left text-color"></i>

				<div class="testimonial-item-content">
					<p class="testimonial-text">This was a great oppurtunity for me to use my knowledge to better my community. I was paired with an organization that sought to help dogs get out of pounds. I have never had a more rewarding experience that I also helped me land a new job!</p>

					<div class="testimonial-author">
						<h5 class="mb-0 text-capitalize">Milos Seskar</h5>
						<p>User</p>
					</div>
				</div>
			</div>
			<div class="testimonial-item position-relative">
				<i class="ti-quote-left text-color"></i>

				<div class="testimonial-item-content">
					<p class="testimonial-text">CodersConnect gave me a great chance to make a difference from my house during the Covid-19 outbreak.</p>

					<div class="testimonial-author">
						<h5 class="mb-0 text-capitalize">Mark Stanik</h5>
						<p>User</p>
					</div>
				</div>
			</div>
			<div class="testimonial-item position-relative">
				<i class="ti-quote-left text-color"></i>

				<div class="testimonial-item-content">
					<p class="testimonial-text">We were really struggling to find people willing to help research Coronavirus treatments and cures. CodersConnect allowed us to spend our time researching while they dealt with getting new volunteers.</p>

					<div class="testimonial-author">
						<h5 class="mb-0 text-capitalize">Covaid-19</h5>
						<p>Non-profit Organization</p>
					</div>
				</div>
			</div>
			<div class="testimonial-item position-relative">
				<i class="ti-quote-left text-color"></i>

				<div class="testimonial-item-content">
					<p class="testimonial-text">CodersConnect really helped us find the right people to flesh out our new database. We are still in contact with those passionate programmers today!</p>

					<div class="testimonial-author">
						<h5 class="mb-0 text-capitalize">New Brunswick Blood Bank</h5>
						<p>Organization</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}