{% load static %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{% static 'styles.css' %}">
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
          <img src="https://via.placeholder.com/50" width="30" height="30" class="d-inline-block align-top" alt="">
          Coders Connect
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Login</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/users/login_user/">User Login</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/users/login_org/">Organization Login</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Register</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/users/signup_user/">User Registration</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/users/signup_org/">Organization Registration</a>
                </div>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
    </nav>
</div>
<div class="container">
    {% block content %}
    {% endblock %}
</div>