{% load static %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{% static 'styles.css' %}">
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
          <img src="https://via.placeholder.com/50" width="30" height="30" class="d-inline-block align-top" alt="">
          Coders Connect
        </a>
        <ul class="nav justify-content-end">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hi {% if user.extendeduser %}{{user.extendeduser.firstname}}{% elif user.organization %}{{user.organization.organization_name}}{% else %}{{user.username}}{% endif %},</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">My Account</a>
                {% if user.extendeduser %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">My Jobs</a>
                {% elif user.organization %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Create Listing</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Manage Listings</a>
                {% else %}
                {% endif %}
                <div class="dropdown-divider"></div>
                <form id="UserLogout" action="/users/logout/" method="POST" style="display:none">
                  {% csrf_token %}
                </form>
                <a class="dropdown-item" onclick="$('#UserLogout').submit(); return false;" style="cursor:pointer">Logout</a>
              </div>
            </li>
            {% else %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Login</a>
                <div class="dropdown-menu">
                  <form style="padding:1em;" method="POST" action="/users/login_user/">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="id_username">Username</label>
                      <input type="username" class="form-control" name="username" id="username" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                      <label for="id_password">Password</label>
                      <input type="password" class="form-control" name="password" id="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <small id="emailHelp" class="form-text text-muted">Create a <a href="/users/signup_user/">User</a> or <a href="/users/signup_org">Organization</a> account.</small>
                  </form>
                </div>
              </li>
            {% endif %}
          </ul>
    </nav>
</div>
<div class="container">
    {% block content %}
    {% endblock %}
</div>