{% extends 'base_layout.html' %}
{% block content %}

    <div id="container-fluid" style="background: url('/static/img/picture1.jpg') no-repeat center center /cover; height: 60%; margin: 0px;padding-left: 0px; padding-right:0px;">
        <br />
        <br />
        <div class="container" style="background-color: rgb(255,255,255,0.1); width: 80%;">
            <h1 style="text-align: center;opacity:1.0; font-size:5em; color:white">Coders Connect</h1>
            
        </div>
        <br />
        <br />
        <form>
            <center>
            <div class="input-group mb-3" style="width:60%;">
                <input type="text" class="form-control" placeholder="What kind of opportunity are you seeking?" aria-label="What kind of opportunity are you seeking?" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
                </div>
            </div>
            </center>
        </form>
    </div>
    <div id= "container" style="height: 50%">

    </div>

{% endblock %}