<h1>Edit post</h1>
<form class='site-form' action="{% url 'posts:edit_post' num=number%}" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input class="sub_button" type="submit" value="Update">
</form>

<form class="site-form" action="{% url 'posts:delete_post' %}" method="post" onsubmit="return confirmation()">
    {% csrf_token %}
    <input type="hidden" name="postnum" value="{{number}}">
    <input class="sub_button" type="submit" value="Delete Post">
</form>

<script>
function confirmation(){
    return confirm("Are you sure you want to delete this post?")
}
</script>